body {
   background-image: url('/Website/images/background.png');
    margin: 0; /* Entfernt den Standard-Abstand um den Rand */
    height: 100%;
    background-position: center center; /* Zentriert das Bild */
    background-repeat: no-repeat; /* Verhindert das Wiederholen des Bildes */
    background-attachment: fixed; /* Hält das Bild beim Scrollen fest */
    background-size: cover; /* Streckt das Bild, sodass es den gesamten verfügbaren Platz bedeckt */
  }