body {
  background-image: url('/Website/images/background.png');
  margin: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.centered-div {
  width: 50%;
  max-width: 450px;
  padding: 40px;
  background-color: #214253;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10vh;

  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
}

.drag-drop {
  width: 100%;
  padding: 20px;
  border: 2px dashed #fff;
  border-radius: 10px;
  text-align: center;
  background-color: #214253;
  color: white;
}

.drag-drop.dragover {
  border-color: #aaa;
}

label {
  display: block;
  margin-bottom: 10px;
  color: white;
  font-weight: bold;
}

select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

select:hover {
  border-color: #888;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

select:focus {
  outline: none;
  border-color: #555;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}

.image-preview {
  margin-top: 20px;
  max-height: 100px;
  width: auto;
}

#image-info {
  margin-top: 5px;
  color: white;
}

#submit-button {
  height: 50px;
  width: 100%;
  background-color: #045987;
  color: white;
  border: none;
  margin-top: 20px;
  border-radius: 5px;
  cursor: pointer;
}

#submit-button:hover {
  background-color: #03476b;
}